body {
    color      : #333;
    text-align : center;
    font-family: "Arial";
    font-size  : 1rem;
    margin     : 0;
    padding    : 0;
}

ul {
    list-style: none;
}

.container {
    width    : 70%;
    border   : 1px solid #ddd;
    margin   : 0 auto;
    display  : flex;
    flex-wrap: wrap;
}

.container h1 {
    font-size: 2rem;
}

#cabecera {
    background-color: tomato;
    padding         : .5rem;
    text-align      : center;
    color           : white;
    width           : 100%;
}

.primary-content {
    width: 70%;
}

.sidebar {
    width: 30%;
}

.header-sidebar {
    background-color: blueviolet;
    color           : white;
    font-size       : 1.2rem;
    padding         : .9rem;
}

.body-sidebar {
    border : 1px solid blueviolet;
    padding: .9rem;
}